/* Color Pallete
-------------------------------------------------

-------------------------------------------------*/


/* Global
-------------------------------------------------*/

body {
    margin: 0%;
}

.container {
    position: relative;
}


/* Header
-------------------------------------------------*/

.header {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: black;
    color: white;
}


/*.header h1,
.header h2 {} */

#background {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Input
-------------------------------------------------*/


/* Output
-------------------------------------------------*/